name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Install dependencies
        run: go mod download

      - name: Run unit tests
        run: go test ./... -v

      - name: Build binary (sanity check)
        run: |
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 \
          go build -o main ./cmd/server.go


      - name: Build Docker image
        run: docker build -t whatsapp-template-api:ci .
